---
---

/* 1. 加载主题核心样式 (必须保留) */
@use "main";

/* 侧边栏背景图片添加 */
#sidebar {
    background-image: url('/assets/fodder/beijing.png'); /* <- change background image */
    background-size: cover; /* <- customize the image size */
    background-repeat: no-repeat; /* <- no-repeat */
    background-position: top; /* <- image position */
    background-blend-mode: overlay;
    // backdrop-filter: blur(100px);
    // -webkit-backdrop-filter: blur(10px); 
}